body{
    margin: 0px;
    background-image: none;
    position: relative;
    left: 0px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.5);
}

.row{
    border-width: 0px;
    position: absolute;
    left: 15%;
    top: 10%;
    width: 100%;
    height: 100%;
    font-size: 13px;
    vertical-align: none;
    text-align: center;
    text-transform: none;
    z-index: 2;
}
select, .col, input, .btn, .invite{
    border-width: 0px;
    background: inherit;
    border-radius: 3px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.col{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 950px;
    height: 550px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    z-index: 3;
}

input{
    width: 45%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(187, 187, 187, 0.747);
}
.input1{
    position: absolute;
    left: 16%;
    top: 40%;
}
.input2{
    position: absolute;
    left: 16%;
    top: 56%;
}
select{
    width: 18%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(187, 187, 187, 0.747);
    padding-left: 25px;
    color: #333333;
}

.select1{
    position: absolute;
    right: 18%;
    top: 40%;
    font-size: 16px;
}
.select2{
    position: absolute;
    right: 18%;
    top: 56%;
    font-size: 16px;
}

.btn{
    background-color: #a99163;
    border: none;
    position: absolute;
    left: 20%;
    bottom: 15%;
    width: 59%;
    height: 45px;
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.label1{
    position: absolute;
    left: 18%;
    top: 36%;
    font-size: 14px;
}
.label2{
    position: absolute;
    left: 18%;
    top: 52%;
    font-size: 14px;
}
.change{
    position: absolute;
    bottom: 23%;
    left: 33.5%;
    font-size: 14px;
    color: #A19E9E;
    text-align: center;
    letter-spacing: 0.4px;
}
.step1{
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    padding-top: 4px;
}
.display{
    position: relative;
    text-transform: none;
    font-family: 'Georgia', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
    color: #333333;
}
.display::after{
    content: "";
    height: 0.7px;
    width: 29.5%;
    background-color: #333333;
    position: absolute;
    left: 35%;
    bottom: -30%;
}
.names{
    text-transform: none;
    font-size: 15px;
    padding-top: 13px;
}
.cancel{
    text-decoration: none;
    text-transform: none;
    font-size: 17px;
    position: absolute;
    left: 46%;
    bottom: 7%;
}
.cancel, .names, .display, .step1{
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    word-wrap: break-word;
    text-align: center;
}
.row, .cancel{
    letter-spacing: normal;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #333333;
}

/* step2 */
.input3{
    width: 30%;
    position: absolute;
    left: 19%;
    top: 49%;
}
.input4{
    width: 28%;
    position: absolute;
    right: 20%;
    top: 49%;
    padding: 5px;
}
.label3{
    position: absolute;
    top:46%;
    left: 19%;
}
.label4{
    position: absolute;
    top: 46%;
    right: 45%;
}
option{
    width: 30%;
}
#a{
    position: absolute;
    left: 35%;
}
#b{
    position: absolute;
    left: 49%;
    bottom: 4%;
}
#c{
    position: absolute;
    left: 58%;
}
/* step3 */
.input5{
    width: 59%;
    height: 42px;
    position: absolute;
    left: 20%;
    top: 49%;
}
.label5{
    position: absolute;
    top:46%;
    left: 20.5%;
}
/* step4 */
.input6{
    width: 40%;
    height: 42px;
    position: absolute;
    left: 20.5%;
    top: 49%;
}
.invite{
    position: absolute;
    width: 14%;
    top: 49%;
    right: 21.5%;
    height: 42px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
    background-color: black;
}
ul, li{
    display: none;
}
/* Confirm */
a.btn{
    text-decoration: none;
    height: 29px;
    padding-top: 11px;
}
.confirm{
    font-size: 15px;
    padding-top: 13px;
    letter-spacing: 0.4px;
    line-height: 20px;
    color: black;
    font-weight: 500;
}
.logo{
    height: 16%;
    width: 16%;
}