body{
    margin: 0px;
    background-image: none;
    position: relative;
    left: 0px;
    width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(73, 73, 73);
    opacity: 0.607843;
    z-index: 1002;
}

.row{
    border-width: 0px;
    position: absolute;
    left: 15%;
    top: 10%;
    width: 100%;
    height: 100%;
    font-size: 13px;
    vertical-align: none;
    text-align: center;
    text-transform: none;
}
select, .col, input, .btn{
    border-width: 0px;
    background: inherit;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.col{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 950px;
    height: 550px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
}

input{
    width: 45%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
}
.input1{
    position: absolute;
    left: 16%;
    top: 40%;
}
.input2{
    position: absolute;
    left: 16%;
    top: 56%;
}
select{
    width: 18%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    padding-left: 25px;
}

.select1{
    position: absolute;
    right: 18%;
    top: 40%;
    font-size: 16px;
}
.select2{
    position: absolute;
    right: 18%;
    top: 56%;
    font-size: 16px;
}

.btn{
    background-color: rgba(0, 0, 0, 1);
    border: none;
    position: absolute;
    left: 16%;
    bottom: 15%;
    width: 66%;
    height: 45px;
    word-wrap: break-word;
    text-transform: uppercase;
    font-size: 16px;
    color: #FBF8F8;
    text-align: center;
}
.label1{
    position: absolute;
    left: 18%;
    top: 36%;
    font-size: 14px;
}
.label2{
    position: absolute;
    left: 18%;
    top: 52%;
    font-size: 14px;
}
.change{
    position: absolute;
    bottom: 23%;
    left: 33%;
    font-size: 15px;
    color: #A19E9E;
    text-align: center;
}
.step1{
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    padding-top: 4px;
}
.display{
    position: relative;
    text-transform: none;
    font-family: 'Georgia', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
    color: #333333;
}
.display::after{
    content: "";
    height: 0.7px;
    width: 32%;
    background-color: #333333;
    position: absolute;
    left: 33%;
    bottom: -30%;
}
.names{
    text-transform: none;
    font-size: 15px;
    padding-top: 7px;
}
.cancel{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    position: absolute;
    left: 44.5%;
    bottom: 7%;
}
.cancel, .names, .display, .step1{
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    word-wrap: break-word;
    text-align: center;
}
.row, .cancel{
    letter-spacing: normal;
    font-family: 'ArialMT', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #333333;
}